<pre>{{bsValue}}</pre>
<input type="text"
       [minDate]="minDate"
       [maxDate]="maxDate"
       #dp="bsDatepicker"
       bsDatepicker [(bsValue)]="bsValue">
<button class="btn btn-success" (click)="dp.toggle()">Date Picker popup</button>
<datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>

<div class="input-group" #calA="bs-dropdown" dropdown [autoClose]="false">
  <button dropdownToggle>
    {{dt| date:'yyyy年MM月dd日'}}
  </button>
  <div *dropdownMenu class="dropdown-menu dropdown-date">
    <datepicker [(ngModel)]="dt" [showWeeks]="false"
                (selectionDone)="calA.hide()"></datepicker>
  </div>
</div>
